<mat-accordion processingSpinner [showSpinner]="(loadStatus$ | async) === LOAD_STATUSES.Loading">
  <mat-expansion-panel *ngFor="let role of roles$ | async"
                       (opened)="onExpandRole(role.roleId)">
    <mat-expansion-panel-header>
      <mat-panel-title>{{role.name}}</mat-panel-title>
    </mat-expansion-panel-header>

    <bom-role-detail *ngIf="expandedRoleId === role.roleId"
                     [role]="role">
    </bom-role-detail>
  </mat-expansion-panel>

  <mat-action-row>
    <button type="button"
            mat-button
            color="accent">
      Add Role
    </button>
  </mat-action-row>
</mat-accordion>
