@charset "UTF-8";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 4rem;
}

.sidenav-expanded {
  width: 10rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item-description {
  padding-left: 0.5rem;
}

mat-sidenav-content {
  padding: 0.5rem;
  height: calc(100% - 1rem);
}

.active-link {
  color: #ef6c00;
}
