@charset "UTF-8";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 4rem;
}

.sidenav-expanded {
  width: 10rem;
}

.nav-item-description {
  padding-left: 0.5rem;
}

mat-sidenav-content {
  padding: 0.5rem;
  height: calc(100% - 1rem);
}
