/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import "material-theme";
@import "material-typography";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($bom-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.notify-inform {
  background-color: steelblue;
}

.notify-warn {
  background-color: goldenrod;
}

.notify-success {
  background-color: seagreen;
}

.notify-failure {
  background-color: crimson;
}

//@mixin bom-active-link-color($config-or-theme) {
//  $config: mat-get-color-config($config-or-theme);
//  $accent: map-get($config, accent);
//
//  .active-link {
//    color: mat-color($accent, text);
//  }
//}

.active-link {
  color: #ff9800 !important;
}
